<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 
    <targets>
        <target name="file" xsi:type="File"
            layout="${longdate} ${logger} ${message}" 
            fileName="${basedir}/Logs/teste123456.log" />
    </targets>
 
    <rules>
        <!-- Todos os loggers (*) de level Debug irão escrever para o arquivo especificado em 'targets' -->
        <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
</nlog>