<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <variable name="appName" value="LuaBijoux" />

  <targets async="true">
    <target xsi:type="File"
            name="info"
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="C:\Users\Rafael\Desktop\Lua Bijoux\Projeto\Logs\Info\Info.log"
            keepFileOpen="false"
            archiveFileName="C:\Users\Rafael\Desktop\Lua Bijoux\Projeto\Logs\Info\History\Info_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="90"
            />

    <target xsi:type="File"
            name="error"
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="C:\Users\Rafael\Desktop\Lua Bijoux\Projeto\Logs\Errors\Error.log"
            keepFileOpen="false"
            archiveFileName="C:\Users\Rafael\Desktop\Lua Bijoux\Projeto\Logs\Errors\History\Errors_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="90"
            />
  </targets>
  <rules>
    <logger name="*" writeTo="info" minlevel="Trace" maxlevel="Warn" />
    <logger name="*" writeTo="error" minlevel="Error" />
  </rules>
</nlog>